@mixin shadow {
    -webkit-box-shadow: 0 8px 6px -6px $color-texto;
    -moz-box-shadow: 0 8px 6px -6px $color-texto;
    box-shadow: 0 8px 6px -6px $color-texto;
}

/* Cabecera con logo y menú navegación */

header {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
    display: flex;
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0.75em;
    background-color: $color-contraste;
    @include shadow;
    z-index: 100;

    nav {
        
        input {
            display: none;
            font-size: 1.125em;
            margin-right: 1em;
        }
        .open {
            display: block;
        }
          
        .close {
            display: none;
        }
          
        input:checked ~ .open {
            display: none;
        }
        
        input:checked ~ .close {
            display: block;
        }

        input:checked ~ ul {
            display: block;
        }

        ul {
            display: none;
            position: absolute;
            right: 0%;
            top: 8vh;
            width: 100vw;
            padding: 0.5em;
            height: 30vh;
            background-color: $color-mexp;

            li {
                list-style: none;
                line-height: 6vh;
                padding: 0.1em 0;

                a {
                    font-family: $fuente-myp;
                    font-size: 1em;
                    letter-spacing: 0;
                    color: $color-contraste;
                    text-decoration: none;
                }
                
                a:active {
                    text-decoration: line-through;
                    color: #060a248c;
                }

            }
        }
    }
}

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media screen and (min-width: 768px) { 
    header {
        position: fixed;
        height: 12vh;
        top: 0;
        background-color: $color-contraste;
        @include shadow;

        .logo {
            margin-left: 5em;
            
            .imglogo {
                width: 3vw;
            }
        }

        nav {

            .mh, .x {
                display: none;
            }

            ul {
                display: inline-block;
                position: relative;
                top: 0;
                width: auto;
                height: auto;
                padding: 0;
                background: none;

                li {
                    display: inline-block;
                    padding: 0 1em;
                
                    a {
                        color: $color-texto;
                        font-size: 0.9em;
                    }

                    a:hover {
                        text-decoration: line-through;
                        color: $color-bot-hm;
                    }
    
                    a:active {
                        text-decoration: line-through;
                        color: #060a248c;
                    }
                }
            }
        }
    }
} 

/* Tablets en horizonal y escritorios normales
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
    header {
        padding: 0;

        .imglogo {
            margin-left: 2em;
        }

        nav {
            
            ul {
                margin-right: 3em;

                li {
                    padding: 0 1em;
                
                    a {
                        font-size: 1em;
                    }
                }
            }
        }
    }
}

/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) { 
    header {

        nav {
            
            ul {
                margin-right: 5em;
            }
        }
    }
}