
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0.75em;

    nav {

        input {
            display: none;
            font-size: 1.125em;
            margin-right: 1em;
        }
        .open {
            display: block;
        }
          
        .close {
            display: none;
        }
          
        input:checked ~ .open {
            display: none;
        }
        
        input:checked ~ .close {
            display: block;
        }

        input:checked ~ ul {
            display: block;
        }

        ul {
            display: none;
            position: absolute;
            right: 0%;
            top: 7vh;
            width: 100vw;
            padding: 0.5em;
            height: 27vh;
            background-color: $color-mexp;

            li {
                list-style: none;
                line-height: 6vh;

                a {
                    font-family: $fuente-myp;
                    font-size: 1em;
                    letter-spacing: 0;
                    color: $color-contraste;
                    text-decoration: none;
                }
            }
        }
    }
}


/*animaciones*/


@media screen and (min-width: 768px) { 
    header {

        .logo {
            margin-left: 4em;
        }

        nav {

            .mh, .x {
                display: none;
            }

            ul {
                display: inline-block;
                position: relative;
                top: 0;
                width: auto;
                height: auto;
                padding: 0;
                background: none;

                li {
                    display: inline-block;
                    padding: 0 1em;
                
                    a {
                        color: $color-texto;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
} 