

h1, h2 {
    font-family: $fuente-titulos;
    font-size: 2.25em;
    letter-spacing: 0;
    line-height: 2.625em;
    font-weight: lighter;
}

p {
    font-family: $fuente-myp;
    font-size: 0.875em;
    color: $color-texto;
    letter-spacing: 0;
    line-height: 1.375em;
}

figcaption {
    font-family: $fuente-pieimg;
    font-size: 1.5em;
    color: $color-texto;
    letter-spacing: 0;
    text-align: center;
}

main {

    .conocemas {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.75em;
        width: 100vw;
        height: 46vh;

        .presentacion {

            h1 {
                padding-right: 1em;
                line-height: 7vh;

                .span1 {
                    text-decoration: line-through;
                }
            }

            p {
                padding: 1em 0;
                line-height: 4vh;
            }
        }

        .masinfo {
            height: 8vh;
            background-color: $color-bot-hm;
            font-family: IBMPlexMono-Medium;
            font-size: 1.125em;
            color: $color-texto;
            letter-spacing: 0;
            text-align: center;
            border: none;
        }
    }

    .episodios {
        margin-top: 3vh;
        padding: 0.75em;
        clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
        width: 100vw;
        height: 215vh;
        background-image: $color-skew;            

        .tsec2 {
            margin-top: 3vh;
            color: $color-contraste;
        }

        .spotify {
            padding: 0.25em 0;
        }
    }

    .historia {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 145vh;

        .phone {
            z-index: 90;
        }

        .artsec3 {
            padding: 0.75em;

            h2 {
                line-height: 7vh;
            }

            p {
                padding: 0.5em 0;
                line-height: 4vh;
            }
        }
    }

    .invitados {
        display: flex;
        flex-direction: column;

        .tsec4 {
            padding: 0.75em;

            h2 {
                padding: 0.5em 0 0 0;
                line-height: 7vh;
            }
        }

        .fotos {

            img {
                display: block;
                width: 100vw;
            }
        }
    }

    .temas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        padding: 2em 0;

        .tsec5 {
            padding: 0.5em 0.75em;

            h2 {
                line-height: 7vh;
            }
        }

        .cont-topicos {

            .topicos {
                text-align: center;
                padding: 1.5em 1em;

                figcaption {
                    padding: 0.5em;
                }
            }
        }

        
    }

    .novedades {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
        background-image: $color-skew;
        height: 62vh;

        .tsec6 {
            padding: 0.75em;

            h2 {
                line-height: 7vh;
                text-align: center;
                color: $color-contraste;
            }
        }

        .masepisodios {
            height: 8vh;
            width: 90vw;
            background-color: $color-bot-hm;
            font-family: IBMPlexMono-Medium;
            font-size: 1.125em;
            color: $color-texto;
            letter-spacing: 0;
            text-align: center;
            border: none;
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;

    .redes {
        display: flex;
        justify-content: space-around;
        width: 80vw;
    }
}


/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media screen and (min-width: 768px) { 
    main {

        .conocemas {
            margin-top: 4em;
            justify-content: space-evenly; 
            padding: 0.75em 0 0 0;

            .presentacion {
                margin-left: 8em;

                h1 {
                    width: 70vw;
                    font-size: 3em;

                    .span2 {
                        color: $color-mexp;
                    }
                }

                p {
                    width: 47vw;
                    font-size: 0.95em;
                    line-height: 3.5vh;
                }
            }

            .masinfo {
                margin-left: 8em;
                width: 20vw;
                font-size: 1em;
            }
        }

        .episodios {
            display: flex;
            flex-direction: column;
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            height: 140vh;
            margin-top: 0;

            .tsec2 {
                margin-left: 7em;
                margin-top: 13vh;
                font-size: 1.20em;
            }

            .spotify {
                display: grid;
                grid-template: repeat(2, 1fr) / repeat(2, 1fr);
                justify-content: center;
                grid-gap: 3.5em 3.5em;
                align-self: center;
                padding: 0;

                iframe {
                    width: 40vw;
                }
            }
        }

        .historia {
            flex-direction: row;
            height: 65vh;

            .phone {
                position: absolute;
                top: 190vh;
                margin-right: 50vw;
                align-self: flex-start;
                width: auto;

                img {
                    width: 40vw;
                    height: 95vh;
                }
            }

            .artsec3 {
                width: 43vw;
                height: max-content;
                margin-right: 5vw;
                padding: 1em 2em;

                h2 {
                    line-height: 12vh;
                    font-size: 2.25em;
                }

                p {
                    font-size: 0.80em;
                    padding: 0.2em 0;
                }
            }
        }

        .invitados {

            .tsec4 {
                margin-left: 7em;
                margin-top: 13vh;
                font-size: 1.20em;

                h2 {
                    padding: 0.6em 0;
                }
            }

            .fotos {
                display: grid;
                grid-template: repeat(2, 1fr) / repeat(3, 1fr);

                img {
                    width: 33.33vw;
                    height: 46vh;
                }
            }
        }

        .temas {
            height: 60vh;

            .tsec5 {
                align-self: flex-start;
                padding: 0.5em 0;
                margin-left: 7em;
                font-size: 1.20em;
            }

            .cont-topicos {
                display: flex;
                width: 85vw;

                .topicos {
                    
                    figcaption {
                        width: 19vw;
                        padding: 0.2em 0;
                    }
                }
            }

        }

        .novedades {
            justify-content: center;
            clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);

            
            .tsec6 {
                padding: 2em;
                
            }

            .masepisodios {
                width: 30vw;
            }
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: 0 3em;

        .redes {
            justify-content: space-evenly;
            width: 30vw;
        }
    }
} 


 
/* Tablets en horizonal y escritorios normales
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) { 
    main {

        .conocemas {

            .presentacion {

                h1 {
                    font-size: 4em;
                }

                p {
                    width: 49vw;
                    font-size: 1em;
                }
            }

            .masinfo {
                margin-left: 7em;
                width: 18.9vw;
                height: 8.35vh;
                font-size: 1.125em;
            }
        }

        .episodios {
            height: 145vh;

            .tsec2 {
                font-size: 1.34em;
            }

            .spotify {

                iframe {
                    width: 45vw;
                }
            }
        }

        .historia {
            height: 80vh;

            .phone {

                img {
                    width: 35vw;
                    height: 111vh;
                }
            }

            .artsec3 {
                width: 44vw;

                h2 {
                    font-size: 3em;
                }

                p {
                    font-size: 1em;
                }
            }
        }

        .invitados {

            .tsec4 {
                font-size: 1.34em;
            }
        }

        .temas {

            .tsec5 {
                font-size: 1.34em;
            }
        }

        .novedades {
            height: 70vh;
            clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
        }

        .tsec6 {
            padding: 1em;
            font-size: 1.34em;
            
        }

        .masepisodios {
            font-size: 1.2em;
        }
    }

    footer {
        height: 12vh;
        font-size: 1.15em;

        .redes {
            justify-content: space-evenly;
            width: 25vw;
        }
    }

}
 
/* Escritorios muy anchos
  ------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) { 
    main {

        .episodios {
            height: 170vh;
            align-content: center;
            clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);

            .tsec2 {
                font-size: 1.34em;
            }

            .spotify {

                iframe {
                    width: 45vw;
                }
            }
        }

        .historia {
            height: 80vh;

            .phone {

                img {
                    width: 35vw;
                    height: 111vh;
                }
            }

            .artsec3 {
                width: 44vw;

                h2 {
                    font-size: 3em;
                }

                p {
                    font-size: 1em;
                }
            }
        }

        .invitados {

            .tsec4 {
                font-size: 1.34em;
            }
        }

        .temas {

            .tsec5 {
                font-size: 1.34em;
            }
        }

        .novedades {
            height: 70vh;
            clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
        }

        .tsec6 {
            padding: 1em;
            font-size: 1.34em;
            
        }

        .masepisodios {
            font-size: 1.2em;
        }
    }

    footer {
        height: 12vh;
        font-size: 1.15em;

        .redes {
            justify-content: space-evenly;
            width: 25vw;
        }
    }
}


