@mixin titulos {
    font-family: $fuente-titulos;
    font-size: 2.25em;
    letter-spacing: 0;
    line-height: 2.625em;
    font-weight: lighter;
    color: $color-texto;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-name: slidein;
    -webkit-animation-name: slidein;
    animation-iteration-count: initial;
    -webkit-animation-iteration-count: initial;
}

@mixin cuerpos {
    font-family: $fuente-myp;
    font-size: 0.875em;
    color: $color-texto;
    letter-spacing: 0;
    line-height: 1.375em;
}

@mixin pieimg {
    font-family: $fuente-pieimg;
    font-size: 1.5em;
    color: $color-texto;
    letter-spacing: 0;
    text-align: center;
}

@mixin shadow {
    -webkit-box-shadow: 0 8px 6px -6px $color-texto;
    -moz-box-shadow: 0 8px 6px -6px $color-texto;
    box-shadow: 0 8px 6px -6px $color-texto;
}

.titular, h2 {
    @include titulos;
}

p {
    @include cuerpos;
}

figcaption {
    @include pieimg;
}

a {
    color: $color-texto;
    text-decoration: none;
}

main {

    .conocemas {
        display: flex;
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        flex-direction: column;
        justify-content: space-between;
        padding: 0.75em;
        width: 100vw;
        height: 46vh;

        .titular {
            line-height: 7vh;

            .span1 {
                text-decoration: line-through;
            }
        }

        p {
            padding: 1em 0;
            line-height: 4vh;
        }
        
        .masinfo {
            height: 8vh;
            background-color: $color-bot-hm;
            font-family: IBMPlexMono-Medium;
            font-size: 1.125em;
            color: $color-texto;
            letter-spacing: 0;
            text-align: center;
            line-height: 8vh;
            border: none;
        }
    }

    .episodios {
        margin-top: 3vh;
        padding: 0.75em;
        clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
        width: 100vw;
        height: 240vh;
        background-image: $color-obl;    

        .tsec2 {
            margin-top: 3vh;
            

            h2 {
                color: $color-contraste;
            }    
        }

        .spotify {
            padding: 0.25em 0;

            iframe {
                width: 100%;
                margin: 0.2em 0 0.2em 0;
                border: none;
                @include shadow;
            }
        }
    }

    .historia {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 160vh;

        .phone {
            z-index: 90;
            transform: translateY(-2vh); /* IE 10, Fx 16+, Op 12.1+ */
            -webkit-transform: translateY(-2vh); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
            -ms-transform: translateY(-2vh); /* IE 9 */
            

            img {
                width: auto;
                height: 111vh;
            }
        }

        .artsec3 {
            padding: 0.75em;

            h2 {
                line-height: 7vh;
            }

            p {
                padding: 0.5em 0;
                line-height: 4vh;
            }
        }
    }

    .invitados {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        height: max-content;

        .tsec4 {
            padding: 0.75em;

            h2 {
                padding: 0.5em 0 0 0;
                line-height: 7vh;
            }
        }

        .fotos {

            img {
                display: block;
                width: 100vw;
            }
        }
    }

    .temas {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 2em 0;

        .tsec5 {
            padding: 0.5em 0.75em;

            h2 {
                line-height: 7vh;
            }
        }

        .cont-topicos {

            .topicos {
                text-align: center;
                padding: 1.5em 1em;

                figcaption {
                    padding: 0.5em;
                }
            }
        }

        
    }

    .novedades {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
        background-image: $color-obl;
        height: 62vh;
        width: 100vw;

        .tsec6 {
            padding: 0.75em;

            h2 {
                line-height: 7vh;
                text-align: center;
                color: $color-contraste;
            }
        }

        .masepisodios {
            height: 8vh;
            width: 90vw;
            background-color: $color-bot-hm;
            font-family: IBMPlexMono-Medium;
            font-size: 1.125em;
            color: $color-texto;
            letter-spacing: 0;
            text-align: center;
            line-height: 8vh;
            border: none;
        }
    }
}

footer {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;

    .redes {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        justify-content: space-around;
        width: 80vw;

        .fab {
            color:$color-texto;
        }
    }

    .fab:active {
        color: $color-bot-hm;
    }
}


/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media screen and (min-width: 768px) { 
    main {

        .conocemas {
            margin-top: 30vh;
            justify-content: space-evenly; 
            padding: 0.75em 0 0 0;

            .titular {
                padding: 0 3em;
                width: auto;
                font-size: 2.65em;

                .span2 {
                    color: $color-mexp;
                }
            }

            p {
                padding: 0 9.1em;
                width: 90vw;
                line-height: 3.5vh;
            }
            

            .masinfo {
                margin-left: 8em;
                width: 20vw;
                font-size: 1em;
            }

            .masinfo:hover {
                background: $color-hbot;
                
                a {
                    color: $color-contraste;
                }    
            }
        }

        .episodios {
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-direction: column;
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            margin-top: 0;
            height: 170vh;

            .tsec2 {
                margin-left: 7em;
                margin-top: 13vh;
                
            }

            .spotify {
                display: grid;
                display: -ms-grid; /* IE 10 */
                grid-template: repeat(2, 1fr) / repeat(2, 1fr);
                justify-content: center;
                grid-gap: 3.5em 3.5em;
                align-self: center;
                padding: 0;

                iframe {
                    width: 40vw;
                }
            }
        }

        .historia {
            flex-direction: row;
            height: 65vh;

            .phone {
                position: absolute;
                transform: translateY(-20vh); 
                -webkit-transform: translateY(-20vh); 
                -ms-transform: translateY(-20vh); 
                margin-right: 50vw;
                align-self: flex-start;
                width: auto;

                img {
                    width: auto;
                    height: 95vh;
                }
            }

            .artsec3 {
                width: 43vw;
                height: max-content;
                margin-right: 5vw;
                padding: 1em 0;

                h2 {
                    line-height: 12vh;
                }

                p {
                    font-size: 0.80em;
                    padding: 0.2em 0;
                }
            }
        }

        .invitados {

            .tsec4 {
                margin-left: 7em;
                margin-top: 13vh;

                h2 {
                    padding: 0.6em 0;
                }
            }

            .fotos {
                display: grid;
                display: -ms-grid; /* IE 10 */
                grid-template: repeat(2, 1fr) / repeat(3, 1fr);

                img {
                    width: 33.33vw;
                    height: 46vh;
                }
            }
        }

        .temas {
            height: 85vh;

            .tsec5 {
                align-self: flex-start;
                padding: 1.5em 0;
                margin-left: 6em;
                font-size: 1.20em;
            }

            .cont-topicos {
                display: flex;
                display: -ms-flexbox;
                display: -webkit-flex;
                width: 85vw;

                .topicos {
                    
                    img:hover {
                        transform: scale(1.4);
                        -webkit-transform: scale(1.4);
                        -ms-transform: scale(1.4);
                        @include shadow;
                    }

                    figcaption {
                        width: 19vw;
                        padding: 1em 0;
                    }
                }

                
            }

        }

        .novedades {
            justify-content: center;
            clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);

            
            .tsec6 {
                padding: 2em;
                
            }

            .masepisodios {
                width: 35vw;
                font-size: 1em;
            }

            .masepisodios:hover {
                background: $color-hbot;
                
                a {
                    color: $color-contraste;
                }    
            }
        }
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        padding: 0 3em;

        .redes {
            justify-content: space-evenly;
            width: 30vw;
        }   

        .fab:hover {
            color: $color-bot-hm;
        }
    }
} 


 
/* Tablets en horizonal y escritorios normales
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) { 
    main {

        .conocemas {

            .titular {
                padding: 0 2.5em;
                font-size: 4em;
            }

            p {
                padding: 0 10.2em;
                width: 65vw;
                font-size: 1em;
            }
            

            .masinfo {
                margin-left: 9em;
                width: 18.9vw;
                height: 8.35vh;
                font-size: 1.125em;
            }
        }

        .episodios {
            height: 145vh;

            .tsec2 {
                font-size: 1.34em;
            }

            .spotify {

                iframe {
                    width: 45vw;
                }
            }
        }

        .historia {
            height: 80vh;

            .phone {
                transform: translateY(-18vh); 
                -webkit-transform: translateY(-18vh); 
                -ms-transform: translateY(-18vh); 

                img {
                    width: 35vw;
                    height: 111vh;
                }
            }

            .artsec3 {
                width: 44vw;

                h2 {
                    font-size: 3em;
                }

                p {
                    font-size: 1em;
                }
            }
        }

        .invitados {

            .tsec4 {
                font-size: 1.34em;
            }
        }

        .temas {

            .tsec5 {
                font-size: 1.34em;
            }
        }

        .novedades {
            height: 70vh;
            clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%);
        }

        .tsec6 {
            padding: 1em;
            font-size: 1.34em;
            
        }

        .masepisodios {
            font-size: 1.2em;
        }
    }

    footer {
        height: 12vh;
        font-size: 1.15em;

        .redes {
            justify-content: space-evenly;
            width: 25vw;
        }
    }

}
 
/* Escritorios muy anchos
  ------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) { 
    main {

        .episodios {
            height: 180vh;
            clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%);

            .tsec2 {

                h2 {
                    padding: 1.5em 0 0 0;
                }
            }
        }

        .historia {
            height: 70vh;

            .phone {
                transform: translateY(-30vh); 
                -webkit-transform: translateY(-30vh); 
                -ms-transform: translateY(-30vh); 

                img {
                    width: 32vw;
                }
            }

            .artsec3 {
                width: 30vw;
                margin-right: 15vw;
                padding: 0;

                h2 {
                    width: 45vw;
                }
            }    
        }

        .invitados {

            .fotos {
                
                img {
                    width: 33.33vw;
                    height: 54vh;
                }
            }
        }

        .temas {
            height: 70vh;

            .tsec5 {
                padding: 1.5em 0;
            }    
        }
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 150%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
