
 
// /* Tablets en horizonal y escritorios normales
//    ------------------------------------------------------------------------- */
// @media screen and (min-width: 1024px) { 

// }
 
// /* Escritorios muy anchos
//    ------------------------------------------------------------------------- */
// @media screen and (min-width: 1200px) { 

// }


