/* Colores ======================================================================= */

/* fondo nav y títulos en contraste */
$color-contraste: #FFFFFF; 
/* menú expandible */
$color-mexp: #0000EC; 
/* fondo botones y hover menú */
$color-bot-hm: #00F3BB; 
/* hover botones */
$color-hbot: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); 
/* fondos con skew */
$color-obl: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
/* texto general */
$color-texto: #060A24;

/* ======================================================================= */

/* Fuentes ======================================================================= */

/* Menú y párrafos */
$fuente-myp: 'IBMPlexMono', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* Botones y hover menú */
$fuente-botyhm: 'IBMPlexMono-Medium', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* Títulos (h1) */
$fuente-titulos: 'IBMPlexSans', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* Pié de img Temas (figcaption) */
$fuente-pieimg: 'IBMPlexSans-SemiBold', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

/* ======================================================================= */



