@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw; }

/* Colores ======================================================================= */
/* fondo nav y títulos en contraste */
/* menú expandible */
/* fondo botones y hover menú */
/* hover botones */
/* fondos con skew */
/* texto general */
/* ======================================================================= */
/* Fuentes ======================================================================= */
/* Menú y párrafos */
/* Botones y hover menú */
/* Títulos (h1) */
/* Pié de img Temas (figcaption) */
/* ======================================================================= */
header {
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  top: 0;
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0.75em;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 8px 6px -6px #060A24;
  -moz-box-shadow: 0 8px 6px -6px #060A24;
  box-shadow: 0 8px 6px -6px #060A24; }
  header nav input {
    display: none;
    font-size: 1.125em;
    margin-right: 1em; }
  header nav .open {
    display: block; }
  header nav .close {
    display: none; }
  header nav input:checked ~ .open {
    display: none; }
  header nav input:checked ~ .close {
    display: block; }
  header nav input:checked ~ ul {
    display: block; }
  header nav ul {
    display: none;
    position: absolute;
    right: 0%;
    top: 8vh;
    width: 100vw;
    padding: 0.5em;
    height: 30vh;
    background-color: #0000EC; }
    header nav ul li {
      list-style: none;
      line-height: 6vh;
      padding: 0.1em 0; }
      header nav ul li a {
        font-family: "IBMPlexMono", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-size: 1em;
        letter-spacing: 0;
        color: #FFFFFF;
        text-decoration: none; }
      header nav ul li a:active {
        text-decoration: line-through;
        color: #060a248c; }

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  header {
    position: fixed;
    height: 12vh;
    top: 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 8px 6px -6px #060A24;
    -moz-box-shadow: 0 8px 6px -6px #060A24;
    box-shadow: 0 8px 6px -6px #060A24; }
    header .logo {
      margin-left: 5em; }
      header .logo .imglogo {
        width: 3vw; }
    header nav .mh, header nav .x {
      display: none; }
    header nav ul {
      display: inline-block;
      position: relative;
      top: 0;
      width: auto;
      height: auto;
      padding: 0;
      background: none; }
      header nav ul li {
        display: inline-block;
        padding: 0 1em; }
        header nav ul li a {
          color: #060A24;
          font-size: 0.9em; }
        header nav ul li a:hover {
          text-decoration: line-through;
          color: #00F3BB; }
        header nav ul li a:active {
          text-decoration: line-through;
          color: #060a248c; } }
/* Tablets en horizonal y escritorios normales
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
  header {
    padding: 0; }
    header .imglogo {
      margin-left: 2em; }
    header nav ul {
      margin-right: 3em; }
      header nav ul li {
        padding: 0 1em; }
        header nav ul li a {
          font-size: 1em; } }
/* Escritorios muy anchos
   ------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  header nav ul {
    margin-right: 5em; } }
h1, h2 {
  font-family: "IBMPlexSans", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.25em;
  letter-spacing: 0;
  line-height: 2.625em;
  font-weight: lighter;
  color: #060A24;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-iteration-count: initial;
  -webkit-animation-iteration-count: initial; }

p {
  font-family: "IBMPlexMono", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.875em;
  color: #060A24;
  letter-spacing: 0;
  line-height: 1.375em; }

figcaption {
  font-family: "IBMPlexSans-SemiBold", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.5em;
  color: #060A24;
  letter-spacing: 0;
  text-align: center; }

a {
  color: #060A24;
  text-decoration: none; }

main .conocemas {
  display: flex;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75em;
  width: 100vw;
  height: 46vh; }
  main .conocemas .presentacion h1 {
    padding-right: 1em;
    line-height: 7vh; }
    main .conocemas .presentacion h1 .span1 {
      text-decoration: line-through; }
  main .conocemas .presentacion p {
    padding: 1em 0;
    line-height: 4vh; }
  main .conocemas .masinfo {
    height: 8vh;
    background-color: #00F3BB;
    font-family: IBMPlexMono-Medium;
    font-size: 1.125em;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    border: none; }
main .episodios {
  margin-top: 3vh;
  padding: 0.75em;
  clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0% 100%);
  width: 100vw;
  height: 240vh;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%); }
  main .episodios .tsec2 {
    margin-top: 3vh; }
    main .episodios .tsec2 h2 {
      color: #FFFFFF; }
  main .episodios .spotify {
    padding: 0.25em 0; }
    main .episodios .spotify iframe {
      -webkit-box-shadow: 0 8px 6px -6px #060A24;
      -moz-box-shadow: 0 8px 6px -6px #060A24;
      box-shadow: 0 8px 6px -6px #060A24; }
main .historia {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 160vh; }
  main .historia .phone {
    z-index: 90;
    transform: translateY(-2vh);
    /* IE 10, Fx 16+, Op 12.1+ */
    -webkit-transform: translateY(-2vh);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: translateY(-2vh);
    /* IE 9 */ }
    main .historia .phone img {
      width: auto;
      height: 111vh; }
  main .historia .artsec3 {
    padding: 0.75em; }
    main .historia .artsec3 h2 {
      line-height: 7vh; }
    main .historia .artsec3 p {
      padding: 0.5em 0;
      line-height: 4vh; }
main .invitados {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  height: max-content; }
  main .invitados .tsec4 {
    padding: 0.75em; }
    main .invitados .tsec4 h2 {
      padding: 0.5em 0 0 0;
      line-height: 7vh; }
  main .invitados .fotos img {
    display: block;
    width: 100vw; }
main .temas {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2em 0; }
  main .temas .tsec5 {
    padding: 0.5em 0.75em; }
    main .temas .tsec5 h2 {
      line-height: 7vh; }
  main .temas .cont-topicos .topicos {
    text-align: center;
    padding: 1.5em 1em; }
    main .temas .cont-topicos .topicos figcaption {
      padding: 0.5em; }
main .novedades {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  height: 62vh;
  width: 100vw; }
  main .novedades .tsec6 {
    padding: 0.75em; }
    main .novedades .tsec6 h2 {
      line-height: 7vh;
      text-align: center;
      color: #FFFFFF; }
  main .novedades .masepisodios {
    height: 8vh;
    width: 90vw;
    background-color: #00F3BB;
    font-family: IBMPlexMono-Medium;
    font-size: 1.125em;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    border: none; }

footer {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh; }
  footer .redes {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: space-around;
    width: 80vw; }
    footer .redes .fab {
      color: #060A24; }
  footer .fab:active {
    color: #00F3BB; }

/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  main .conocemas {
    margin-top: 30vh;
    justify-content: space-evenly;
    padding: 0.75em 0 0 0; }
    main .conocemas .presentacion {
      margin-left: 8em; }
      main .conocemas .presentacion h1 {
        width: 70vw;
        font-size: 2.65em; }
        main .conocemas .presentacion h1 .span2 {
          color: #0000EC; }
      main .conocemas .presentacion p {
        width: 47vw;
        line-height: 3.5vh; }
    main .conocemas .masinfo {
      margin-left: 8em;
      width: 20vw;
      font-size: 1em; }
    main .conocemas .masinfo:hover {
      background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
      main .conocemas .masinfo:hover a {
        color: #FFFFFF; }
  main .episodios {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    margin-top: 0;
    height: 170vh; }
    main .episodios .tsec2 {
      margin-left: 7em;
      margin-top: 13vh; }
    main .episodios .spotify {
      display: grid;
      display: -ms-grid;
      /* IE 10 */
      grid-template: repeat(2, 1fr)/repeat(2, 1fr);
      justify-content: center;
      grid-gap: 3.5em 3.5em;
      align-self: center;
      padding: 0; }
      main .episodios .spotify iframe {
        width: 40vw; }
  main .historia {
    flex-direction: row;
    height: 65vh; }
    main .historia .phone {
      position: absolute;
      transform: translateY(-20vh);
      -webkit-transform: translateY(-20vh);
      -ms-transform: translateY(-20vh);
      margin-right: 50vw;
      align-self: flex-start;
      width: auto; }
      main .historia .phone img {
        width: auto;
        height: 95vh; }
    main .historia .artsec3 {
      width: 43vw;
      height: max-content;
      margin-right: 5vw;
      padding: 1em 0; }
      main .historia .artsec3 h2 {
        line-height: 12vh; }
      main .historia .artsec3 p {
        font-size: 0.80em;
        padding: 0.2em 0; }
  main .invitados .tsec4 {
    margin-left: 7em;
    margin-top: 13vh; }
    main .invitados .tsec4 h2 {
      padding: 0.6em 0; }
  main .invitados .fotos {
    display: grid;
    display: -ms-grid;
    /* IE 10 */
    grid-template: repeat(2, 1fr)/repeat(3, 1fr); }
    main .invitados .fotos img {
      width: 33.33vw;
      height: 46vh; }
  main .temas {
    height: 85vh; }
    main .temas .tsec5 {
      align-self: flex-start;
      padding: 1.5em 0;
      margin-left: 6em;
      font-size: 1.20em; }
    main .temas .cont-topicos {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-flex;
      width: 85vw; }
      main .temas .cont-topicos .topicos img:hover {
        transform: scale(1.4);
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        -webkit-box-shadow: 0 8px 6px -6px #060A24;
        -moz-box-shadow: 0 8px 6px -6px #060A24;
        box-shadow: 0 8px 6px -6px #060A24; }
      main .temas .cont-topicos .topicos figcaption {
        width: 19vw;
        padding: 1em 0; }
  main .novedades {
    justify-content: center;
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%); }
    main .novedades .tsec6 {
      padding: 2em; }
    main .novedades .masepisodios {
      width: 30vw; }
    main .novedades .masepisodios:hover {
      background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
      main .novedades .masepisodios:hover a {
        color: #FFFFFF; }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 3em; }
    footer .redes {
      justify-content: space-evenly;
      width: 30vw; }
    footer .fab:hover {
      color: #00F3BB; } }
/* Tablets en horizonal y escritorios normales
    ------------------------------------------------------------------------- */
@media screen and (min-width: 1024px) {
  main .conocemas .presentacion h1 {
    font-size: 4em; }
  main .conocemas .presentacion p {
    width: 49vw;
    font-size: 1em; }
  main .conocemas .masinfo {
    margin-left: 7em;
    width: 18.9vw;
    height: 8.35vh;
    font-size: 1.125em; }
  main .episodios {
    height: 145vh; }
    main .episodios .tsec2 {
      font-size: 1.34em; }
    main .episodios .spotify iframe {
      width: 45vw; }
  main .historia {
    height: 80vh; }
    main .historia .phone {
      transform: translateY(-18vh);
      -webkit-transform: translateY(-18vh);
      -ms-transform: translateY(-18vh); }
      main .historia .phone img {
        width: 35vw;
        height: 111vh; }
    main .historia .artsec3 {
      width: 44vw; }
      main .historia .artsec3 h2 {
        font-size: 3em; }
      main .historia .artsec3 p {
        font-size: 1em; }
  main .invitados .tsec4 {
    font-size: 1.34em; }
  main .temas .tsec5 {
    font-size: 1.34em; }
  main .novedades {
    height: 70vh;
    clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 100%); }
  main .tsec6 {
    padding: 1em;
    font-size: 1.34em; }
  main .masepisodios {
    font-size: 1.2em; }

  footer {
    height: 12vh;
    font-size: 1.15em; }
    footer .redes {
      justify-content: space-evenly;
      width: 25vw; } }
/* Escritorios muy anchos
  ------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
  main .episodios {
    height: 180vh;
    clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0% 100%); }
    main .episodios .tsec2 h2 {
      padding: 1.5em 0 0 0; }
  main .historia {
    height: 70vh; }
    main .historia .phone {
      transform: translateY(-30vh);
      -webkit-transform: translateY(-30vh);
      -ms-transform: translateY(-30vh); }
      main .historia .phone img {
        width: 32vw; }
    main .historia .artsec3 {
      width: 30vw;
      margin-right: 15vw;
      padding: 0; }
      main .historia .artsec3 h2 {
        width: 45vw; }
  main .invitados .fotos img {
    width: 33.33vw;
    height: 54vh; }
  main .temas {
    height: 70vh; }
    main .temas .tsec5 {
      padding: 1.5em 0; } }
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 150%; }
  to {
    margin-left: 0%;
    width: 100%; } }
/* Fuentes ======================================================================= */
/* Menú y párrafos */
@font-face {
  font-family: 'IBMPlexMono';
  src: url(./fuentes/IBMPlexMono-Regular.ttf); }
/* Botones y hover menú */
@font-face {
  font-family: 'IBMPlexMono-Medium';
  src: url(./fuentes/IBMPlexMono-Medium.ttf); }
/* Títulos (h1) */
@font-face {
  font-family: 'IBMPlexSans';
  src: url(./fuentes/IBMPlexSans-Regular.ttf); }
/* Pié de img Temas (figcaption) */
@font-face {
  font-family: 'IBMPlexSans-SemiBold';
  src: url(./fuentes/IBMPlexSans-SemiBold.ttf); }
/* ======================================================================= */

/*# sourceMappingURL=style.css.map */
